.botao {
    background-color: #6278f7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 32px 0;
}

.botao:hover {
    transform: translate(1px, -1px) scale(1.03); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}